#searchWeather {
    max-width: 200px;
    margin: 20px;
    margin-left: 25px;
    margin-right: 5px;
    text-align: center;
}
#cityBtn1, #cityBtn2, #cityBtn3, #cityBtn4, #cityBtn5, #cityBtn6, #cityBtn7, #cityBtn8 {
    color:white;
    font-weight: 500;
    margin:3px;
    border-radius: 5px;
}

#cityBtn1:hover, #cityBtn2:hover, #cityBtn3:hover, #cityBtn4:hover, #cityBtn5:hover, #cityBtn6:hover, #cityBtn7:hover, #cityBtn8:hover {
    color:rgb(162, 221, 255);
    font-weight: 500;
}
#forecastTitle {
    font-size: 40px;
    font-weight: 600;
}
button {
    padding: 1px;
    font-weight: 400;
    background-image: linear-gradient(rgba(37, 25, 49, 0.788), rgba(98, 75, 119, 0.788));
}
h1 {
    text-align: center;
    margin-top: 20px;
}
header {
    padding: 10px;
    text-align: center;
    background-color: rgba(62, 62, 114, 0.904);
    color: white;
    font-size: 60px;
}

textarea {
    max-width: 200px;
    max-height: 40px;
    text-align: center;
}

.container {
    display: flex;
    margin: 20px;
    margin-top: 5px;
    flex-direction: column;
    width: 80%;
}

.col-9 {
    height: 200px;
    width: 100%;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    background-color: white; /*change color based on day or night*/
    margin: 10px;
    font-size: larger;
}

.col-4 {
    height: 350px;
    width: 100%;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.layout {
    display: flex;
    justify-content: center;
}

.list-group {

color:white;
}

#day1, #day2, #day3, #day4, #day5 {
height: 290px;
width: 100%;
margin: 20px;
}
body {
    height: 1000px;
    background-image: linear-gradient(white, rgba(25, 105, 151, 0.836));
}
span {
    font-size: large;
    font-weight: 500;
}
#day1, #day2, #day3, #day4, #day5, #day6, #day7, #day8 {
border-radius: 5%;
border-style: double;
border-width: 3px;
}