#searchWeather {
    max-width: 200px;
    margin: 20px;
    margin-left: 25px;
    margin-right: 5px;
    text-align: center;
    
}
header {
    padding: 20px;
    text-align: center;
    background-color: blue;
    color: white;
}
textarea {
    max-width: 200px;
    max-height: 40px;
    text-align: center;
}

.container {
    display: flex;
    margin: 20px ;
    margin-top: 35px;
    flex-direction: column;
    width: 80%;
}

.col-9 {
height: 200px;
width: 100%;
background-color: aqua;
margin: 10px;
}

.col-4 {
    height:350px;
    color: white;
    background-color: blueviolet;
    width: 100%;
    margin: 10px;
}

.layout {
display: flex;
justify-content: center;
}